Source: smime-smtp-proxy
Section: admin
Priority: optional
Maintainer: Joachim Breitner <joachim.breitner@itomig.de>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.8.0

Package: smime-smtp-proxy
Architecture: all
Depends: proxsmtp, ${misc:Depends}, ${python:Depends}, python-m2crypto
Description: SMTP Proxy to sign e-mail using S/MIME
 The smime-smtp-proxy is a small daemon that accepts SMTP connections,
 accepts incoming mail, digitally signs it using an S/MIME key and
 certificate and forwards it to another SMTP server.
